html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body{
	font:normal 100% Verdana,Sans-serif;
}

.container-lg, .row {
	height: 100%;
}

.link-bubble {
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	width:300px;
	height:300px;
	position:relative;
	margin:0 auto;
}

.link-bubble.twitter {
	background-image:url("../images/twitter.png");
}

.link-bubble.github {
	background-image:url("../images/github.png");
}

.link-bubble h1 {
	-webkit-text-stroke: 2px black;
	position:absolute;
	bottom:-30px;
	left:0;
	right:0;
	color:white;
	text-decoration:none;
	text-align:center;
}

footer {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	text-align:center;
	margin-top:20px;
}

@media(max-width: 992px) {
	.center-screen {
		height:auto;
		width:auto;
		position:initial;
		margin-top:0px;
		margin-left:0px;
	}
	
	footer {
		position:initial;
	}
}