html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2311149a' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%233336bc' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%235558de' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23787bff' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%239fa1ff' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23c6c7ff' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23ededff' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	font:normal 100% Verdana,Sans-serif;
}

.container-lg, .row {
	height: 100%;
}

.link-bubble {
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	width:300px;
	height:300px;
	position:relative;
	margin:0 auto;
}

.link-bubble.twitter {
	background-image:url("../images/twitter.png");
}

.link-bubble.github {
	background-image:url("../images/github.png");
}

.link-bubble h1 {
	-webkit-text-stroke: 2px black;
	position:absolute;
	bottom:-30px;
	left:0;
	right:0;
	color:white;
	text-decoration:none;
	text-align:center;
}

footer {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	text-align:center;
	margin-top:20px;
}

@media(max-width: 992px) {
	.center-screen {
		height:auto;
		width:auto;
		position:initial;
		margin-top:0px;
		margin-left:0px;
	}
	
	footer {
		position:initial;
	}
}
